if SHIELD_CRANE_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Crane"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CRANE_LEFT || SHIELD_CRANE_RIGHT

config ZMK_SPLIT
    default y

endif